<main class="container">
    <h1>Catálogo de Livros</h1>  
    <table class="table table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col" class="col-2">Título</th>
          <th>Resumo</th>
          <th>Editora</th>
          <th>Autores</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let livro of livros">
          <td>{{ livro.titulo }}
            <button class="btn btn-danger d-block btn-sm" (click)="excluir(livro.codigo)">Excluir</button>
          </td>
          <td>{{livro.resumo}}</td>
          <td>{{ obterNome(livro.codEditora) }}</td>
          <td>
            <ul>
              <li *ngFor="let autor of livro.autores">{{ autor }}</li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </main>
  
